{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chirp</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Libre+Franklin&display=swap" rel="stylesheet">
    <link href="{% static 'chirp/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header class="sidenav">
      <div class="bird">
          <a href="{% url 'posts:home' %}"><img src="{% static 'chirp/images/bird.jpg' %}"></a><br/>
      </div>
      {% if user.is_authenticated %}
        <div>
          <a href="{% url 'posts:home' %}"><img src="{% static 'chirp/images/home.png' %}"></a>
          <a href="{% url 'users:profile' user.username %}"><img src="{% static 'chirp/images/profile.png' %}"></a>
          <a href="{% url 'logout' %}"><img src="{% static 'chirp/images/logout.png' %}"></a>
      {% else %}
          <a href="{% url 'posts:home' %}"><img src="{% static 'chirp/images/home.png' %}"></a>
          <a href="{% url 'login' %}"><img src="{% static 'chirp/images/login.png' %}"></a>
          <a href="{% url 'users:signup' %}"><img src="{% static 'chirp/images/register.png' %}"></a>
        </div>
      {% endif %}
    </header>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>