{% extends 'base.html' %}

{% block content %}

    <div class="welcome">
        {% if user.is_authenticated %}
            <p>Hello, <a href="{% url 'users:profile' user.username %}" id="User_link">{{ user.username }}</a>!</p>
        {% else %}
            <p>Hello! Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'users:signup' %}">Register</a>
        {% endif %}

    <form action="{% url 'posts:new' %}">
        {% csrf_token %}
        <input type='submit' id="new_chirp" value="New Chirp">
    </form>
    </div>


    <div class="posts">
    {% for post in object_list %}
        <hr>
        <div class="post-entry">
            <h4><a href="{% url 'users:profile' post.author.username %}">{{ post.author.username }}<a/> - {{ post.created }}</h4>
            <p>{{ post.body|linebreaksbr }}</p>
        </div>
        <div class="post-buttons">
            {% if request.user == post.author %}
                <form action="{% url 'posts:edit' post.pk %}">
                    {% csrf_token %}
                    <input type='submit' value="Edit Chirp">
                </form>
                <form action="{% url 'posts:delete' post.pk %}">
                    {% csrf_token %}
                    <input type='submit' value="Delete Chirp">
                </form>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}