{% extends 'base.html' %}

{% block content %}
    <img src="{{ image.url }}">
    <h1>{{ user_profile.username }}</h1>
    <h5><em>Chirping since {{ user_profile.date_joined }}!</em></h5>
    <div class="profile_info">
        <h3>Location</h3>
        <p>{{ user_profile.profile.location|linebreaksbr }}</p><br/>
        <h3>Bio</h3>
        <p>{{ user_profile.profile.bio|linebreaksbr }}</p><br/>
    </div>

    {% for post in user_profile.post_set.all %}
        <div class="post-entry">
            <h4><em>{{ post.author.username }}</em> - {{ post.created }}</h4>
            <p>{{ post.body|linebreaksbr }}</p>
        </div>
    {% endfor %}

    {% if user_profile == user %}
        <form action="{% url 'users:edit' user.username %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Edit">
        </form>
    {% endif %}


{% endblock content %}