{% extends 'base.html' %}

{% block content %}

    <h1>{{ user_profile.username }}</h1>

    <h1>Edit User</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="my_image" accept="image/*" required>
        <button type="submit">submit</button>
    </form>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
    <form action="{% url 'posts:home' %}">
        {% csrf_token %}
        <input type="submit" value="Cancel">
    </form>

{% endblock content %}