body, html {
    box-sizing: border-box;
    height: 100%;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    border: solid darkgray;
}

.sidebar {
    text-align: center;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.gallery-view{
    background-color: darkgrey;
    padding: 20px;
    margin: 10px;
}

.main div {
    border-bottom: 2px solid rgb(0, 0, 126);
}

.main p {
    text-align: justify;
    max-width: 100%;
}

@media (min-width: 768px) {
    body {
        display: flex;
    }

    .gallery-view {
        margin: 0 -6px;
        display: flex;
        flex-wrap: wrap;
        width: 65vw;
        overflow-y: auto;
    }

    .sidebar {
        height: auto;
        width: 30vw; /* Set the width of the sidebar */
        overflow-x: hidden; /* Disable horizontal scroll */
        align-content: left;
    }
      
      /* The navigation menu links */
    .sidebar a {
        padding: 6px 8px 6px 16px;
        display: block;
    }

    .main {
        margin-right: 50px;
        padding-right: 6px;
    }
}

/* @media (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    header h1 {
        margin-top: 6px;
    }

    nav {
        align-items: flex-end;
    }   
} */
