<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grocery List Application</title>
</head>
<body>
    <header><strong>Grocery List Application</strong></header>
    <p>
        <form action="{% url 'grocery_list:add_item' %}" method='POST'>
        {% csrf_token %}
        <label for='add_item'>Description:</label>
        <input id='add_item' type='text' name='add_item'>
        <button type="submit">Add Grocery</button>
        </form>
    </p>
    <h3><ins>Groceries to Buy</ins></h3>
        {% for grocery in latest_grocery_list %}
            <div>
                <p>{{ grocery.food_item }}</p>
                <form action="{% url 'grocery_list:delete_item' grocery.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
                </form>
                <form action ="{% url 'grocery_list:item_status' grocery.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Bought</button>
                </form>
                <!-- <form action ="{% url 'grocery_list:item_status' grocery.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Incomplete</button>
                </form> -->
            </div>
        {% endfor %}

    <h3><ins>Bought Items</ins></h3>
        {% for item in bought_groceries %}
            <div>
                <p>{{ item.food_item }}</p>
                <form action="{% url 'grocery_list:item_status' item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">undo</button>
                </form>
            </div>
        {% endfor %}    

    
</body>
</html>
