html {
    box-sizing: border-box;
    font-family: averia serif libre;
}
main {
    text-align: left;
}
header {
    display: flex;
    background-color: antiquewhite;
    margin: -1em;
}
h1 {
    font-style: italic;
    margin-left: 0.25em;
    margin-top: 1em;
    background: -webkit-linear-gradient(#3e1c45, #e71f53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#toucan {
    margin: 1em;
    margin-bottom: -2em;
    height: 10em;
}
#new-todo {
    margin-top: 0.25em;
}
#todo-text, #todo-btn {
    border: 1px solid #3e1d45;
    border-radius: 10em;
    outline: none;
    font-family: averia serif libre;
}
#todo-btn {
    color: #3e1d45;
    background-color: white;
    cursor: pointer;
}
li {
    list-style-type: circle;
    margin: 0.25em;
}
li button {
    border-radius: 10em;
    border: none;
    background-color: white;
    margin-left: 1em;
}
#clock-frame {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5em;
}

@media (min-width: 768px) {

    header {
        justify-content: center;
    }
    #toucan {
        margin-left: -1em;
    }
    h1 {
        margin-top: 0.25em;
        margin-bottom: -1em;
        font-size: 3em;
    }
    #new-todo {
        text-align: center;
        margin-top: 0.25em;
    }
    #todo-text {
        font-size: 1em;
    }
    #todo-btn {
        font-size: 1em;
    }
    #clock-frame {
        left: unset;
        transform: unset;
        bottom: unset;
        top: 0.5em;
        right: 2em;
    }
}

@media (min-width: 1024px) {

    #toucan {
        height: 20em;
        margin-top: 2.25em;
        margin-bottom: -4em;
    }
    h1 {
        font-size: 5em;
        margin-top: 0.5em;
        margin-left: 1em;
    }
    #new-todo {
        margin-top: -1.5em;
    }
    #todo-text {
        font-size: 2em;
    }
    #todo-btn {
        font-size: 2em;
    }
    #clock-frame {
        top: 3em;
        right: 2em;
    }
}