html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

*:before, *:after {
    box-sizing: inherit;
}

/* .bg {
    background-image: url(https://wallpapercave.com/wp/FDJx1ey.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

header, footer {
    font-family: "Garamond", serif;
    background-image: url("https://th.bing.com/th/id/Rd7fa4dcac85665c50b4a1a10f87c491b?rik=ttXWP9m5sWh0gw&riu=http%3a%2f%2fwallpaperstock.net%2fhibiscus-pattern-wallpapers_51566_1920x1200.jpg&ehk=MXkteyEyokvqpAj%2bgCPqYLpOSjvI7KPquR6BAhh1hz8%3d&risl=&pid=ImgRaw");
    padding: 10px;
    text-align: center;
}

body h1, h2, h3, h4, h5 {
    font-family: 'Candara', sans-serif;
}

.left, .right {
    width: 100%;
    padding: 0;
}

.card {
    background-image: url("https://th.bing.com/th/id/Rd7fa4dcac85665c50b4a1a10f87c491b?rik=ttXWP9m5sWh0gw&riu=http%3a%2f%2fwallpaperstock.net%2fhibiscus-pattern-wallpapers_51566_1920x1200.jpg&ehk=MXkteyEyokvqpAj%2bgCPqYLpOSjvI7KPquR6BAhh1hz8%3d&risl=&pid=ImgRaw");
    padding: 10px;
    margin-top: 20px;
    color:lightsteelblue;
}

.transbox{
    margin: 5px;
    background-color: #F29D35;
    border: 1px solid black;
    opacity: 1;
}

div .transbox{
    margin: 3px;
    padding-bottom: 20px;
    background-color: #F29D35;
    border: 1px solid black;
    opacity: 1;
}

header .transbox h2, footer .transbox h3 {
    margin: 15px;
    font-weight: bold;
    color: #000000;
}

.transbox h2, h3, h4, h5, h6, img, p, ul, a {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.social-media img {
    display: inline-flex;
    line-height: 1.5em;
    font-size: 1.50em;
}

img {
    display: block;
    width: 90%;
}

footer {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .right {
        float: right;
        width: 74%;
    }

    .left {
        float: left;
        width: 25%;
    }

    .clear:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    header .transbox h2, footer .transbox h3 {
        margin: 30px;
        font-weight: bold;
        color: #000000;
    }
}