{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'grocery_list/style.css' %}">


<h1>Grocery List<h1>

{% if list_of_items %}
<ul>
    {% for item in list_of_items %}
        <li><a href="{% url 'grocery_list:index' item.id %}">{{ item.text_description }}</a></li>
            <form action="{% url 'grocery_list:completed' item.id %}" method='post'>
                {% csrf_token %}
                <input type='checkbox' value='Completed'>
            </form>
    {% endfor %}
</ul>    
{% else %}
    <p>No items on the list.</p>
{% endif %}

<form action="{% url 'grocery_list:add'%}" method="post">
    {% csrf_token %}
    <input type='text' id='item' name='item'/>
    <input type='submit' value='Add'/>
</form>


<h2>Completed List Items</h2>
<ul>
    {% for item in completed_items %}
    <li> {{item.text_description}}
    {% endfor %}
</ul>    