<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Quote</title>
</head>
<body> 
    <header>
        
    </header>
    <main>
        <div id="app">
            <h1>Quote Search</h1>
            <search-by @add="searchBy"></search-by>
            <button @click="loadQuotes">search</button>
            <div v-for="quote in results.quotes" :key="quote.id">
                <p>{{ quote.body }}</p>
                <p><a :href="quote.url">{{ quote.author }}</a></p>
                <ol>
                    <quote-item
                        v-for="quote in results"
                        v-bind:todo="quote"
                        v-bind:key="quote.id"
                        ></quote-item>
                </ol>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>