/* Lab04 26 Feb 2021
Burrito Order Form
Composer: brndn */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template: 33.33vh 66.66vh / auto-flow;
    place-content: center;
    overflow-x: hidden;
    margin-left: 0.75em;
}

header {
    position: relative;
    margin-top: -0.5em;
}

h1 {
    position: absolute;
    background: url("https://t3.ftcdn.net/jpg/00/80/58/02/360_F_80580255_4OqwzNpVC7dVkx0VD8sdqPpRbqmMQ5hK.jpg");
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4em;
    text-align: left;
    left: 0.1em;
    bottom: -0.1em;
    margin: 0em;

}

header img {
    margin: 0em;
    width: 101vw;
    height: 100%;   
}

form {
    width: 100vw;
}

#floater {
    position: absolute;
    width: 6em;
    right: 0em;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#floater:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

h2 {
    margin: 0em;
    padding-left: 0.75em;
}

button {
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

footer {
    background: url("https://t3.ftcdn.net/jpg/00/80/58/02/360_F_80580255_4OqwzNpVC7dVkx0VD8sdqPpRbqmMQ5hK.jpg");
    margin: -0.5em;
}

footer p {
    margin: 0.5em;
    padding-left: 0.5em;
}

@media (min-width: 768px) {

    h1 {
        font-size: 8em;
    }

    #floater {
        width: 15em;
    }
}

@media (min-width: 1024px) {

    header img {
        display: none;
    }

    header {
        height: 11em;
        background-image: url("https://media1.giphy.com/media/aDYXQy3W8XFG8/giphy.gif");
        background-repeat: repeat-x;
    }

    h1 {
        font-size: 6em;
        line-height: 0.9em;
        bottom: 0em;
    }

    #floater {
        width: 20em;
    }
}