<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Grocery Item Detail</title>
</head>

<body>
    <h1>Grocery Item {{grocery_item.id}} Details</h1>
    <p>Description: {{grocery_item.description}}</p>
    <p>Date Created:  {{grocery_item.date_created}}</p>
    <p>Date Completed: {{grocery_item.date_completed}}</p>
    <p>Completed: {{grocery_item.completed}}</p>
    <p></p>
    <a href="/{{ grocery_item.id }}/update">Update this item</a>
    <p></p>
    <a href="/{{ grocery_item.id }}/delete">Delete this item</a>
</body>