
section {
    text-align: center;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 14em;
}
.cell {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    cursor: crosshair;
    font-size: 1em;
}
form {
    width: 15em;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 1em;
}