html { 
    background: url("titanic.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #header {
      background-color: white;
  }

  #input {
      background-color: white;
      min-height: 200px;
  }


  #output {
      background-color: grey;
      min-height: 200px;
  }


  .footer {
      max-height: 10px;
  }


