html { 
    background: url("titanic.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #header {
      background-color: white;
  }

  #input {
      background-color: white;
      min-height: 200px;
      padding: 50px;
  }


  #output {
    background-color: rgb(238, 72, 22);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #response {
      text-align: center;
      background-color:whitesmoke;
  }

  

  #prediction {
      font-size: 80px;
      color: white;
      font-weight: bold;
  }


  .footer {
      max-height: 10px;
  }


