/* Josh Novac
Lab 03
HTML/CSS
PDX Code Guild */


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 90px;
    text-align: center;
    color: #BD3FBF;
    text-shadow: 2px 2px 3px cyan;
}

h2 {
    font-family: 'Audiowide', cursive;
    color:rgb(0, 217, 255);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: rgb(0, 217, 255);
    font-size: 22px;
    padding-top: 20px;
}

h4 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: rgb(0, 217, 255);
    border-top: 1px solid purple;
    padding-top: 15px;
    padding-bottom: 15px;
}

h5 {
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: rgb(0, 217, 255);
}

body {
    background-color: #131826;
}

header, footer{
    background-color:#131826;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    padding: 10px;
}

header div {
    margin-bottom: 25px;
}

header nav {
    padding: 10px;
}

header a {
    font-family: 'Audiowide', cursive;
}

main div {
    margin-left: 10px;
    margin-right: 10px;
}

main h2 {
    padding: 10px;
    text-shadow: 2px 2px 4px purple;
}

main h3 {
    text-shadow: 2px 2px 4px purple;
}

main h4 {
    text-shadow: 2px 2px 4px purple;
}

main p {
    text-align: center;
    color: rgb(255, 230, 0);
    text-shadow: 2px 2px 4px purple;
    padding: 15px;
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
}

main div p {
    font-family: 'Libre Barcode EAN13 Text', cursive;
    text-shadow: black;
    font-size: 55px;
    padding: 0;
    margin: 0;
}

nav {
    margin-bottom: 30px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 0px;
}

nav a {
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 20px;
    color: purple;
    text-shadow: 1px 1px 2px black;
}

a:link {
    text-decoration: none;
  }

a:hover, a:active {
    color: yellow;
  }

footer {
    margin-top: 20px;
}

footer p{
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 25px;
    padding-top: 25px;
    color:rgb(248, 222, 73);
}

img {
    border: 2px solid purple;
}
.responsive {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 75px;
    }

@media (min-width: 768px) {

    header, footer {
        border-top: 2px solid purple;
        border-bottom: 2px solid purple;
    }

    header h1 {
        font-size: 150px;
    }

    h2{
        font-size: 35px;
        text-align: center;
    }

    h4 {
        border-top: 2px solid purple;
        border-bottom: 2px solid purple;
    }

    h4 p {
        border-top: 2px solid purple;
        border-bottom: 2px solid purple;
    }

    p {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    nav a {
        font-size: 30px;
        padding-top: 40px;
    }

    main p {
        font-size: 30px;
    }

    main h4 {
        font-size: 25px;
    }

    main div h3 {
        margin-left: 65px;
        font-size: 30px;
    }

    footer p {
        padding-top: 40px;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
        }

    .responsive {
        display: flexbox;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin-left: 65px;
        margin-bottom: 50px;
      }

    
}

@media (min-width: 1024px) {

    h1 {
        font-size: 150px;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 25px;
    }

    nav a{
        font-size: 40px;
        padding: 25px;
    }

    p {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
        margin-left: 160px;
    }

    .flex-gallery div {
        display: block;
        width: 30%;
        padding: 20px;
    }

    .responsive {
        display: flexbox;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (min-width: 1920px)  {

    nav{
        display: flex;
        justify-content:space-evenly;
    }

    main div h3 img {
        margin-top: 75px;
    }

    .flex-gallery div {
        display: block;
        width: 30%;
        padding-left: 95px;
    }

    .responsive {
        display: flexbox;
        justify-content: center;
        width: 100%;
        height: auto;
    }
}