html {
    box-sizing: border-box;
    font-family: averia serif libre;
}
body {
    text-align: center;
}
button {
    background-color: transparent;
    color: #E91E63;
    border: none;
    border-radius: 10em;
}
button:hover {
    background-color: #E91E63;
    color: aliceblue;
}
#location {
    border: 1px solid #E91E63;
    border-radius: 10em;
    outline: none;
    font-size: 1.5em;
    font-family: averia serif libre;
}
#weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#measure, #info {
    display: flex;
    flex-direction: column;
}
#measure {
    text-align: right;
    margin-right: 0.1em;
    padding-top: 1em;
}
#measure h3 {
    margin: 0em;
    margin-bottom: 1.6em;
}
#info {
    text-align: left;
    margin-left: 0.1em;
    font-size: 2em;
}
#info h3 {
    margin: 0em;
    margin-bottom: 0.244em;
}