{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


<h1>Grocery List<h1>

<form action="{%url 'grocery:add'%}" method="post">
    {% csrf_token %}
    <input type='text' id='item' name='item'/>
    <input type='submit' value='Add to List'/>
</form>

<h2>Current List</h2>
<ul>

    {% for item in current_grocery_list %}
    <li> {{item.item_text}}

    <form action="{%url 'grocery:complete' item.id %}" method='post'>
        {% csrf_token %}
        <input type='submit' value='Completed'>
    </form>

    {% endfor %}
</ul>    

<h2>Completed List Items</h2>
<ul>

    {% for item in completed_items %}
    <li> {{item.item_text}}

    <form action="{% url 'grocery:delete' item.id %}" method='post'>
        {% csrf_token %}
        <input type='submit' value='Delete'>
    </form>

    {% endfor %}
</ul>    