html {
    display: block;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: white;
    background:#606d96;
    text-shadow: 0 0 2 #000000;
}

.header-image {
    background-image: url("images/sky.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Seymour One', sans-serif;
}

.header-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.5rem;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.header-title h1 {
    font-size: 4rem;
    font-weight: 700;
}

.zipcode {
    text-align: center;
    align-items: center;
    width: 100%;
}

.zipcode input{
    text-align: center;
}

.zipcode button {
    margin-top: .5rem;
    display: inline-block;
    padding: 5px 15px;
    font-size: 10;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
}

.zipcode button:hover {
    background-color: lightskyblue;
}

.zipcode button:active {
    background-color: lightslategray;
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

.container {
    width: 520px;
    height: 170px;
    position: absolute;
    top: 35%;
    left: 35%;
}

.weather {
    padding: 15px;
    vertical-align: middle;
}


.city {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

.date {
    margin-top: -1.5em;
    margin-bottom: 2em;
    color: #c1c9e0;
    text-align: center;
}

/* .weather-icon {
    display: inline-flex;
    height: 10rem;
    align-content:flex-end;
    float: right;
} */

.clouds {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.current-temp {
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    position: absolute;
}

.feels-like {
    font-weight: bold;
    margin-bottom: -.25rem;
}

.hi-lo {
    text-align: right;
    text-justify: distribute;
    display: block;
    position: relative;
    top: -20px;
}

