.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header Header"
      "Sidebar Main Main Main"
      "Footer Footer Footer Footer";
  }
  
  .Header { 
      grid-area: Header;
      background-color: red;
      min-height: 100px;
    }
  
  .Sidebar { 
      grid-area: Sidebar; 
      background-color: green;
    }
  
  .Main { 
      grid-area: Main;
      background-color: pink;
    }
  
  .Footer { 
      grid-area: Footer;
      background-color: brown;
     }
  