


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Main Main Main Main"
    "Sidebar Sidebar Sidebar Sidebar"
    "Footer Footer Footer Footer";
}

.Header { 
  grid-area: Header; 
  background-color: red}

.Footer { 
  grid-area: Footer; 
  background-color: green;
}

.Sidebar { 
  grid-area: Sidebar; 
  background-color: grey}

.Main { 
  grid-area: Main; 
  background-color: white;}



/* For when the page is bigger */
@media (min-width: 768px) {

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "Header Header Header Header"
      "Sidebar Main Main Main"
      "Footer Footer Footer Footer";
  }
  
  
} 