<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>T0d0s Applicati0n</title>
    </head>
    <body>
        <h1>Todo Application</h1>
        <div id="vmtodo">
            <input v-model="newTodo" placeholder="Add a todo!">
            <button v-on:click="addTodo">Add todo</button>
        <ul>
            <li v-for="(todo, index) in todos" :key="todo.title">
                {{ todo.title }}
                <button v-on:click="removeTodo(index)">Remove</button>
                <button v-on:click="completeTodo(index)">Done</button>
            </li>
        </ul>
        </div> 
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
        <script src="js/todos.js"></script>
    </body>