<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>T0d0s Applicati0n</title>
    </head>
    <body>
        <h1>Todo Application</h1>
        <div id="vmtodo">
            <input v-model="newTodo" placeholder="Add a todo!">
            <button v-on:click="addTodo">Add todo</button>
        <ul>
            <li v-for="(todo, index) in todos" :key="todo.title">
                {{ todo.title }}
                <button v-on:click="removeTodo(index)">remove</button>
                 
            </li>
        </ul>

        </div> 
        <!-- <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app">
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
                Test_2 === Hover your mouse here to see the DYNAMICALLY bound title!
            </span>
        </div>
        <div id="app-3">
        <span v-if="seen">Test_3 === Now you see me</span>
        </div>
        <div id="app-4">
            <h2>Test_4 ===</h2>
            <ol>
                <li v-for="todo in todos">
                  {{ todo.text }}
                </li>
            </ol>   
        </div> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
        <script src="js/todos.js"></script>
    </body>