{% extends 'index.html' %}

{% block content %}

    {% for post in object_list %}
        <div class="post">
            <a href="{% url 'posts:post' post.id %}">
                <img src="{{ post.image.url }}">
                <br>
                <h2>{{post.title}}</h2>
                <br>
                <p>{{post.body|linebreaksbr}}</p>
            </a>
            <h5>{{ post.created }}</h5>
            <a href="{% url 'users:profile' post.author.username %}"><h3>{{ post.author.username }}</h3><a/>
        </div>
        <hr>
    {% endfor %}

{% endblock content %}